* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Josefin Slab', serif;
	background-color: rgb(8, 128, 199);
}

/* container */

.container {
	position: relative;
	width: 129vw;
	height: 100vh;
	float: left;
	overflow: hidden;
}


/* items */

.item {
	opacity: 1;
    height: 50px;
    width: 50px;
    /* overflow: hidden; */
    margin: 0px;
    /* bottom: 20px; */
    /* right: 30px; */
	/* float: left;*/
	align-content: flex-start;
    transition: all 500ms ease;

	/* comment out 'float: left;' to have items stack in a single column */
	float: left; 
	transition: all 500ms ease
}




.column {
    /*width: 50px;*/
    height: 200px;
    /* clear: both !important; */
     display: flex; 
	align-content: flex-start;
    flex-flow: row-reverse wrap;
    writing-mode: vertical-rl;
    /* border: .25px solid aquamarine; */
    float: left;
}

