.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:8.500000px;}
.y4{bottom:41.000000px;}
.y1{bottom:89.500000px;}
.y3{bottom:111.500000px;}
.y2{bottom:112.000000px;}
.h2{height:487.000000px;}
.h1{height:603.500000px;}
.h4{height:604.000000px;}
.h5{height:605.000000px;}
.h0{height:612.000000px;}
.h6{height:716.000000px;}
.h3{height:792.000000px;}
.w8{width:266.500000px;}
.w2{width:532.000000px;}
.w7{width:612.000000px;}
.w1{width:783.500000px;}
.w0{width:792.000000px;}
.w6{width:1112.000000px;}
.w4{width:1117.000000px;}
.w5{width:1123.500000px;}
.w3{width:1224.000000px;}
.x0{left:0.000000px;}
.x3{left:36.500000px;}
.x4{left:52.500000px;}
.x2{left:64.500000px;}
.x1{left:98.500000px;}
.x5{left:113.000000px;}
@media print{
.y0{bottom:11.333333pt;}
.y4{bottom:54.666667pt;}
.y1{bottom:119.333333pt;}
.y3{bottom:148.666667pt;}
.y2{bottom:149.333333pt;}
.h2{height:649.333333pt;}
.h1{height:804.666667pt;}
.h4{height:805.333333pt;}
.h5{height:806.666667pt;}
.h0{height:816.000000pt;}
.h6{height:954.666667pt;}
.h3{height:1056.000000pt;}
.w8{width:355.333333pt;}
.w2{width:709.333333pt;}
.w7{width:816.000000pt;}
.w1{width:1044.666667pt;}
.w0{width:1056.000000pt;}
.w6{width:1482.666667pt;}
.w4{width:1489.333333pt;}
.w5{width:1498.000000pt;}
.w3{width:1632.000000pt;}
.x0{left:0.000000pt;}
.x3{left:48.666667pt;}
.x4{left:70.000000pt;}
.x2{left:86.000000pt;}
.x1{left:131.333333pt;}
.x5{left:150.666667pt;}
}
