@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,300,400');


body {
	font-family: 'Catamaran', sans-serif;
	font-weight: 100;
	background-color: rgb(27, 6, 102);
	color: white;
	line-height: 20px;
	letter-spacing: .5px;
}

h1 {
	font-weight: 300;
	letter-spacing: 1px;
}

h2 {
	font-weight: 300;
	font-size: 23px;
}

.mainchick {
	margin-left: 260px;
	margin-top: 150px;
}

.firstcolumn {
	margin-left: 260px;
}

.sidebae {
	float: left;
	text-align: left;
	width: 300px;
}

.mainchicktwo {
	position: absolute;
	margin-left: 800px;
	margin-top: 150px;
}

.mainchicktwo {
	position: absolute;
	margin-left: 800px;
	margin-top: 500px;
}

.secondcolumn {
	position: absolute;
	margin-left: 600px;
	margin-top: -100px;
}

a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(255, 98, 198);
    text-decoration: none;
}