body {
	background: #cccccc;
}

.canvas {
	width: 900px;
	height: 556px;
	top: -55px;
	margin: 100px auto;
	position: relative;
	resize: both;
	z-index: 2;
	overflow: hidden;
	transform: scale(.85)
}

.canvascont{
	width: 900px;
	height: 556px;
	background: white;
	z-index: 1;
	left: 250px;
	top: 100px;
}

div {
	position: absolute;
}

.table {
	width: 900px;
	height: 260px;
	top: 300px;
	background: #AFA799;
	z-index: -3
}


/*cup*/

.cup {
	top: 103px;
	left: 250px;
	border: 1px solid transparent;
	height: 270px;
	width: 170px;
	transform: scale(1.5);
	z-index: -1;
}

.cupringlips {
	width: 150px;
	height: 50px;
	background: #6D6151;
	border-radius: 100%;
	border: #E3DED6 solid 4px;
	top: 203px;
	position: absolute;
	z-index: 0;
}

.cupcylinder {
	border-bottom: 170px solid #6D6151;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 110px;
	left: 4px;
	top: 60px;
	z-index: 1;
}

.cupringbottom {
	width: 102px;
	height: 10px;
	background: white;
	border-radius: 100%;
	border: #6D6151 solid 4px;
	top: 50px;
	left: 24px;
	position: absolute;
	z-index: 2;
}


/*cup end*/



/*tape*/
.tape {
	width: 280px;
	height: 195px;
	position: absolute;
	border: 1px solid transparent;
	top: 300px;
	left: 50px;
	z-index: 2;
}

.d3inside {
	width: 83px;
	height: 83px;
	background: #E3DED6;
	border-radius: 100%;
	border: none solid;
	top:53px;
	left: 53px;
	z-index: 1;
}

.backgroundhole{
	width: 60px;
	height: 60px;
	background: #AFA799;
	border-radius: 100%;
	top:53px;
	left: 55px;
	z-index: 2;
}

.holeborder1{
	width: 80px;
	height: 80px;
	background: transparent;
	border-radius: 100%;
	border: 3px #AFA38E solid;
	top:50px;
	left: 50px;
	z-index: 7;
}

.holeborder2{
	width: 80px;
	height: 80px;
	background: transparent;
	border-radius: 100%;
	border: 8px #F3F0ED solid;
	top:45px;
	left: 45px;
	z-index: 6;
}

.d3purplepaper{
	width: 90px;
	height: 90px;
	background: transparent;
	border-radius: 100%;
	border: 50px #6D3FAD solid;
	z-index: 5;
}

.purplearm{
	width: 110px;
	height: 150px;
	background: #6D3FAD;
	border-radius: 100%;
	border: none  solid;
	z-index: 1;
	left: 150px;
	top: 40px;
	transform: rotate(40deg)	
}

.transparentd3{
	width: 100px;
	height: 110px;
	background: transparent;
	border-radius: 100%;
	border: 50px #C0BDBB solid;
	transform: rotate(-40deg);
	z-index: ;
	top: 280px;
	left: 30px;
}

.bottomarmhole{
	width: 66px;
	height: 100px;
	left: 141px;
	top: 147px;
	transform: rotate(35deg);
	z-index: 2;
	background: #AFA799;
	border-radius: 100%
}

.toparmhole {
	width: 85px;
	height: 110px;
	left: 225px;
	top: 307px;
	transform: rotate(35deg);
	z-index: 4;
	background: #6D6151;
	border-radius: 100%
}

.tapeext {
	width: 60px;
	height: 30px;
	background: rgba(179, 179, 178, 0.24);
	transform: skewX(-70deg) ;
	z-index: 4;
	left: 225px;
	top: 360px;
}

.d3purplepapercovertape{
	width: 100px;
	height: 100px;
	background: transparent;
	border-radius: 100%;
	border: 26px #6D3FAD solid;
	top: 320px;
	left: 68px;
	z-index: 5;
}


.armbottom {
	width: 29px;
	height: 80px;
	left: 220px;
	top: 101px;
	transform: rotate(30deg);
	z-index:3;
	background: #6D3FAD;
	border-radius: 100%
}

.armtop {
	width: 30px;
	height: 80px;
	left: 243px;
	top: 60px;
	transform: rotate(20deg);
	z-index:;
	background: #6D3FAD;
	border-radius: 100%
}

/*tape end*/


/*blue marker*/

.bluemarker {
	transform: scaleX(.75) scaleY(1.15);
	width: 410px;
	height: 80px;
	border: 1px solid transparent;
	left: 400px;
	top: 380px;
	transform: rotate(-5deg);
	z-index: 2;
}

.markercylinderblue {
	width: 290px;
	height: 60px;
	top: 9px;
	left: 11px;
	background: #F8FBFD;
}

.markerlabelblue {
	width: 240px;
	height: 40px;
	left: 40px;
	top: 9px;
	background: #313C90;
	z-index: 3;
}

.markerlabelbackblue {
	width: 15px;
	height: 40px;
	top: 9px;
	left: 35px;
	z-index: 3;
	background: #313C90;
	border-radius: 100%
}

.markerlabelfrontblue {
	width: 6px;
	height: 40px;
	top: 9px;
	left: 277px;
	z-index: 3;
	background: #F8FBFD;
	border-radius: 100%
}

.markerbackblue {
	width: 30px;
	height: 59.5px;
	top: 9px;
	left: -2px;
	background: #F8FBFD;
	border-radius: 100%
}

.markertopblue {
	width: 50px;
	height: 59.5px;
	top: 9px;
	left: 270.5px;
	background: #F8FBFD;
	border-radius: 100%
}

.markercapblue {
	border-bottom: 70px solid #313C90;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	height: 0;
	width: 55px;
	left: 321px;
	top: 5px;
	z-index: 2;
	transform: rotate(-90deg)
}

.markerbottombluecap {
	width: 20px;
	height: 55px;
	top: 12px;
	left: 312px;
	background: #313C90;
	border-radius: 100%
}

.markertopbluecap {
	width: 20px;
	height: 27px;
	top: 26px;
	left: 385px;
	background: #313C90;
}





/*marker blue end*/




/*black marker*/

.blackmarker {
	transform: scaleX(.75) scaleY(1.15);
	width: 410px;
	height: 80px;
	border: 1px solid transparent;
	left: 460px;
	top: 450px;
	transform: rotate(-30deg);
	z-index: 1;
}

.markercylinderblack {
	width: 260px;
	height: 65px;
	top: 9px;
	left: 11px;
	background: #F8FBFD;
}

.markerlabelblack {
	width: 190px;
	height: 30px;
	left: 60px;
	top: 9px;
	background: #2E2D2C;
	z-index: 3;
}

.markerlabelbackblack {
	width: 15px;
	height: 40px;
	top: 9px;
	left: 50px;
	z-index: 3;
	background: #F8FBFD;
	border-radius: 100%
}

.markerlabelfrontblack {
	width: 10px;
	height: 30px;
	top: 9px;
	left: 245px;
	z-index: 3;
	background: #2E2D2C;
	border-radius: 100%
}

.markertopblack {
	width: 50px;
	height: 65px;
	top: 9px;
	left: 241px;
	background: #F8FBFD;
	border-radius: 100%;
	z-index: 1;
}

.markercapblack {
	border-bottom: 70px solid #2E2D2C;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 0;
	width: 55px;
	left: 280px;
	top: 10px;
	z-index: 2;
	transform: rotate(-90deg)
}

.markerbottomblackcap {
	width: 20px;
	height: 55px;
	top: 12px;
	left: 312px;
	background: #313C90;
	border-radius: 100%
}

/*black marker end*/


/* waterbottle */


.WBGradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3e5e8+0,efeff0+22,b4bece+50,efeff0+82,e3e5e8+99 */
background, border: #e3e5e8 !importantt; /* Old browsers */
background: -moz-linear-gradient(left,  #e3e5e8 0%, #efeff0 22%, #b4bece 50%, #efeff0 82%, #e3e5e8 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e3e5e8 0%,#efeff0 22%,#b4bece 50%,#efeff0 82%,#e3e5e8 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e3e5e8 0%,#efeff0 22%,#b4bece 50%,#efeff0 82%,#e3e5e8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e5e8', endColorstr='#e3e5e8',GradientType=1 ); /* IE6-9 */

}

.waterbottle{
	width: 200px;
	height: 400px;
	border: 1px transparent solid;
	top: 50px;
	left: 550px;
	z-index:
}


.waterbottletop{
	border-bottom: 70px solid rgba(195, 201, 218, 0.42);
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	left: 25px;
	height: 0;
	width: 65px;
	top: 40px;
}

.waterbottleneck{
	background: rgba(195, 201, 218, 0.42);
	height: 15px;
	width: 65px;
	left: 65px;
	top: 25px;
}

.waterbottlecap{
	background: #E9E8E9;
	height: 25px;
	width: 70px;
	left: 62px;
	border-radius: 15%;
	z-index: 5;
}

.waterbottletoplabel{
	background: rgba(195, 201, 218, 0.42);
	border-radius: 20%;
	height: 13px;
	width: 145px;
	left: 25px;
	top: 109px;
}

.waterbottlebottomlabel{
	background: rgba(195, 201, 218, 0.42);
	border-radius: 20%;
	height: 13px;
	width: 145px;
	left: 25px;
	top: 189px;
}

.waterbottlelabel{
	width: 145px;
	height: 70px;
	background: rgb(156, 213, 244);
	left: 25px;
	top: 120px;
}

.waterbottletrap{
	border-top: 65px solid rgba(195, 201, 218, 0.42);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-radius: 10%;
	left: 25px;
	height: 0;
	width: 105px;
	top: 200px;
}

.waterbottleoval{
	border-bottom: 30px solid rgba(195, 201, 218, 0.42);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-radius: 11%;
	left: 28px;
	height: 0;
	width: 105px;
	top: 265px;
}

.waterbottleoval2{
	border-top: 10px solid rgba(195, 201, 218, 0.42);
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	left: 28px;
	height: 0;
	width: 130px;
	top: 295px;
}


.waterbottleoval3{
	border-bottom: 20px solid rgba(195, 201, 218, 0.42);
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	left: 28px;
	height: 0;
	width: 130px;
	top: 305px;
	z-index: 1;
}

.WBBottom{
	height: 50px;
	width: 135px;
	left: 28px;
	top: 324px;
	background: rgba(195, 201, 218, 0.42);
	border-radius: 7%;
	z-index: 1;
	
}

/* waterbottle end */



/* flowers */

.flowerscont {
	height: auto;
	width: 320px;
	left: 190px;
}

.stem1 {
	height: 9px;
	width: 60px;
	background: #6D7743;
	top: 90px;
	transform: rotate(2deg)
}

.stem2 {
	height: 5px;
	width: 50px;
	background: #6D7743;
	top: 77px;
	left: 185px;
	transform: rotate(8deg)
}

.stem3 {
	height: 6px;
	width: 140px;
	background: #6D7743;
	top: 82px;
	left: 50px;
	transform: rotate(173deg)
}

.stem2-2 {
	height: 5px;
	width: 122px;
	background: #6D7743;
	top: 102px;
	left: 120px;
	transform: rotate(-2deg)
}

.stem3-2 {
	height: 6px;
	width: 140px;
	background: #6D7743;
	top: 105px;
	left: 50px;
	transform: rotate(9deg)
}

.stem4 {
	height: 4px;
	width: 85px;
	background: #6D7743;
	top: 60px;
	left: 120px;
	transform: rotate(150deg)
}

.leaf {
	width: 40px;
	height: 8px;
	background: #4A4E3D;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100%;
}

.pos1 {
	left: 50px;
	top: 100px;
}

.pos2 {
	left: 50px;
	top: 80px;
}

.pos3 {
	left: 15px;
	top: 110px;
}

.pos4 {
	left: px;
	top: 105px;
}

.trans1 {
	transform: rotate(150deg)
}

.trans2 {
	transform: rotate(-20deg)
}

.trans3 {
	transform: rotate(300deg)
}

.l2 {
	left:15px;
	top: 110px;
	transform: rotate(1500deg)
}

.l3 {
	left: 25px;
	top: 100px;
	transform: rotate(30deg)
}

.l3 {
	left: 25px;
	top: 100px;
	transform: rotate(30deg)
}

.leafcluster{
	width: auto;
	height: auto;
}

.lcpos2 {
	left: 50px;
	top: 135px;
	transform: rotate(-90deg)
}

.lcpos3 {
	left: 160px;
	top: 15px;
	transform: rotate(50deg)
}

.lcpos4 {
	left: 100px;
	top: 200px;
	transform: rotate(-150deg)
}

.lcpos5 {
	left: 250px;
	top: 00px;
	transform: rotate(58deg)
}

.lcpos6 {
	left: 270px;
	top: 0px;
	transform: rotate(80deg)
}

.lcpos7 {
	left: 100px;
	top: 10px;
	transform: rotate(-50deg)
}

.lcpos9 {
	left: 2px;
	top: 20px;
	transform: rotate(-25deg)
}

.lcpos10 {
	left: 50px;
	top: 10px;
	transform: rotate(-1deg)
}

.lcpos11 {
	left: 30px;
	top: 165px;
	transform: rotate(-120deg)
}

.lcpos12 {
	left: 130px;
	top: 15px;
	transform: rotate(2deg)
}

.lcpos13 {
	left: 140px;
	top: 65px;
	transform: rotate(-50deg)
}

.lcpos14 {
	left: 160px;
	top: 10px;
	transform: rotate(-30deg)
}

.lcpos15 {
	left: 170px;
	top: -10px;
	transform: rotate(-10deg)
}

/* flowers end */

#oval {
	width: 200px;
	height: 100px;
	background: red;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}




/* Cleaner, but slightly less support: use "50%" as value */


.burstbundle {
	width: auto;
	height: auto;
}

.bbpos1 {
	left: 200px;
	top: -30px;
	transform: rotate(50deg) scale(.85);
	z-index: -1;
}

.bbpos2 {
	left: 265px;
	top: -25px;
	transform: rotate(70deg) scale(1.2);
	opacity: .88;
	z-index: -1;
}

.bbpos3 {
	left: 305px;
	top: 45px;
	transform: rotate(100deg) scale(.96);
	opacity: .85;
	z-index: -1;
}

.bbpos4 {
	left: 235px;
	top: -3px;
	transform: rotate(50deg) scale(.96);
	opacity: .95;
	z-index: -1;
}

.bbpos5 {
	left: 140px;
	top: 140px;
	transform: rotate(-45deg) scale(.96);
	opacity: .95;
	z-index: -1;
}

.bbpos6 {
	left: 155px;
	top: 140px;
	transform: rotate(-40deg) scale(1.10);
	opacity: .75;
	z-index: -1;
}

.fpos1 {
	left: 50px;
	top: 10px;
}

.fpos2 {
	left: 40px;
	top: 24px;
}

.fpos3 {
	left:60px;
	top: 24px;
}

.fpos4 {
	left:42px;
	top: 40px;
}

.fpos5 {
	left:60px;
	top: 40px;
}

.fpos6 {
	left:51px;
	top: 30px;
}

.fpos7 {
	left:51px;
	top: 55px;
	transform: scale(.8);
	z-index: -1;
}

.fpos8 {
	left:45px;
	top: 32px;
	transform: scale(.95);
}

.fpos9 {
	left:65px;
	top: 32px;
	transform: scale(.95);
}

.fpos10 {
	left: 52px;
	top: 20px;
	transform: scale(.7);
}

.fpos11 {
	left: 52px;
	top: 50px;
	transform: scale(.8);
}


#burst-13 {
    background: #474179;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
}
#burst-13:before, #burst-13:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #474179;
}
#burst-13:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#burst-13:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}



#burst-14 {
    background: #464B9B;
    width: 12px;
    height: 12px;
    position: abosolute;
    text-align: center;
}
#burst-14:before, #burst-14:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background: #464B9B;
}
#burst-14:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#burst-14:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}




#burst-12 {
    background: #605DA5;
    width: 20px;
    height: 20px;
    position: abosolute;
    text-align: center;
}
#burst-12:before, #burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #605DA5;
}
#burst-12:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#burst-12:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}

#burst-8 {
    background: red;
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20eg);
}
#burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: red;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}
