.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:0.000000px;}
.h1{height:1026.500000px;}
.h2{height:1078.000000px;}
.h0{height:1080.000000px;}
.w0{width:1920.000000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:0.000000pt;}
.h1{height:1368.666667pt;}
.h2{height:1437.333333pt;}
.h0{height:1440.000000pt;}
.w0{width:2560.000000pt;}
.x0{left:0.000000pt;}
}
