/* reset */

* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {
    font-family: arial, helvetica, sans-serif;
    text-align: left;
    font-size: 45px;
    overflow-x: hidden;
	background-color: black;
}

div {position:absolute;}

p {position: absolute;}

.letter {
	font-size: 100px;
	color: white;
}

.epos {left: 25vw; top:50vh;}
.fpos {left: 70vw; top:50vh;}


.largetick {
	height: 150px;
	width: 25px;
	margin-left: 25vw;
	margin-top: 30vh;
	border-radius: 10px;
}

.largetick2 {
	height: 150px;
	width: 25px;
	margin-left: 75vw;
	margin-top: 30vh;
	border-radius: 10px;
}

.medtick {
	height: 150px;
	width: 15px;
	background-color: white;
	border-radius: 20px;
}

.red {
	background-color: red;
}

.white {
	background-color: white;
}

.rot-45 {transform: rotate(-45deg);}
.rot45 {transform: rotate(45deg);}

.l2 {transform: rotate(-24deg); top: 110px; left: 35vw;}
.l4 {transform: rotate(24deg); top: 110px; left: 65vw;}
.center {margin-left: 50vw; top: 70px;}


.red {background-color: red !important;}



.container:hover #triangle-up {
		animation-name: empty;
		animation-duration: 2.5s; animation-iteration-count: infinite; animation-direction: alternate; animation-timing-function: ease-in-out;
}

@keyframes empty {
    0% {transform:rotateZ(60deg); transform-origin: bottom;}
    50% {transform:rotateZ(-60deg); transform-origin: bottom;}
	75% {transform:rotateZ(35deg); transform-origin: bottom;}
	100% {transform:rotateZ(-25deg); transform-origin: bottom;}
}

.container {
	width: 100vw;
	height: 100vh;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 390px solid red;
	border-radius: 100px;
	transform: rotate(60deg);
	transform-origin: bottom;
	left: 48.78vw;
	top: 15vh;
}

