/* reset padding and margins */

@import "compass/css3";

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Josefin Slab', serif;
}

/* container */

.container {
	position: relative;
	width: 100%;
}

/* items */

.item {
	height: 200px;
	width: 24.77%;
	color: black;
	display: inline-block;
	overflow: hidden;
	margin: 0px;
	bottom: 20px;
	right: 30px;
	text-align: center;
	font-size: 60px;
	font-weight: 200;

	/* comment out 'float: left;' to have items stack in a single column */
	float: left; 
	transition: all 500ms ease;

	/* uncomment this to get CSS transitions (conflicts with jQuery) */
	/* transition: all 500ms ease; */
}

.num {
	font-size: 20px;
	text-align: left;
 	padding: 15px 0px 0px 20px;
    margin: 0;
    z-index: 3;
}

.chit {
	font-size: 35px;
	text-align: center;
	top: 50%;
	left: 50%;
    margin: 0;
    z-index: 3;
}


/* BUTTONS */
/* 1 */

#button-1 {
	background-color: rgb(168, 147, 255);
}

#button-1:hover {
	transform: 
		rotate(45deg)
		scale(1.5)
		translate(50px,100px);
	opacity: .3;
}

/* 2 */

#button-2 {
	background-color: grey;
}

#button-2::after {
	content: 'enter';
	color: white;
}


#button-2:hover::after {
	content: 'leave';
	color: rgb(255, 139, 77);
}

/* 3 */

#button-3 {
	background-color: rgb(255, 212, 51);
}

#button-3:active {
	background-color: pink;
	opacity: 1;
}

/* 4 */

#button-4::before {
	background-color: rgb(201, 233, 219);
}



.pinkcircle {
    background-color: pink;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 2px 10px 20px 90px;
    transition: all 500ms ease;
}

.pinkcircle:active {
    background-color: pink;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 500ms ease;
}


#button-4:hover{
}


/* 5 */

.btn {
 	top: 55%;
 	left: 50%;
 	font-size: 24px;
  	text-align: center;
  	cursor: pointer;
  	outline: none;
  	color: #fff;
  	background-color: rgb(79, 214, 45);
  	border: none;
  	border-radius: 10%;
  	box-shadow: 0 9px #999;
  	height: 75px;
  	width: 100px;
  	z-index: 3;
}

.btn:hover {background-color: rgb(53, 190, 18);}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#button-5 {
	background-color: rgb(233, 233, 233);
}

#button-5:hover::before {
}

/* 6 */

#button-6 {
	background-color: rgb(40, 150, 254);
}

#button-6::before {
	transition: transform all ease 500ms;
  	width: 150px;
}

#button-6:hover {
	transform: skewX(-20deg);
}

/* 7 */

#button-7{
	background-color: rgb(255, 87, 50);
	overflow: hidden;
}

#button-7::before {
}


#button-7:hover::after {
}

/* 8 */

.plane {
	color: white;
	font-size: 100px;
	transition: 2.3s ease all;
}

.plane:hover,
.plane:focus {
	animation: spinfly 2.2s;
}

@keyframes spinfly {
  50% {
    transform: rotate(1080deg);
  } 
  100% {
    transform: translate(150px, -150px);
  }
}

@keyframes spinflyback {
  50% {
    transform: translate(-150px, 150px);
  } 
  100% {
    transform: rotate(-1080deg);
  }
}

.plane:after {
  animation: spinflyback 2.2s;
}

#button-8 {
	background-color: rgb(20, 59, 168);
}

/* 9 */

#button-9 {
	background-color:rgb(221, 191, 144);
}

#button-9: hover {
	background-color:rgb(229, 215, 99);
	width: 100px;
}


/* 10 */


#button-10 {
	background-color: rgb(111, 173, 147);
}


#button-10:active {
  	width: 49.54%;
  	opacity: .5;
}

/* 11 */

#button-11 {
	background-color: rgb(193, 112, 234);
}

#button-11::before {
	transform-origin: 0% 0%;
  	transition: transform 4s;
}

#button-11:active {
  	transform: rotate(180deg);
}

/* 12 */

.counts {
	display: block;
	width: 200px;
	margin: 0 auto;
}

#button-12::before {
}



#button-12:hover::after {
}




/* 13 */


.circle {
  display: block;
  position: absolute;
  background: rgba(62, 182, 209);
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.circle.animate {
  -webkit-animation: effect 0.65s linear;
          animation: effect 0.65s linear;
}

@-webkit-keyframes effect {
  100% {
    opacity: .25;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@keyframes effect {
  100% {
    opacity: .25;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

#button-13 {
	background-color: rgb(199, 245, 255);
	overflow: hidden;
}

#button-13::before {
}


#button-13:hover::after {
}



/* 14 */

#button-14{
	background-color: rgb(216, 36, 164);
  transition: 3s ease all;
  overflow: hidden;
}



.triangle-up {
	width: 0;
	height: 0;
	margin-left: 35%;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid rgb(240, 123, 206);

}

.triangle-big {
  transform: scale(5);
}

/* 15 */

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



#button-15::before {
}



#button-15:hover::after {}

/* 16 */

.transform-active {
  background-color: #0077b1;
  height: 400px;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

#button-16 {
  background-color: rgb(246, 169, 76);
}

/* 17 */

i.fa-heart:hover {
	color: red;
	animation-name: pulse;
	animation-iteration-count: 3;
	animation-duration: 1.5s;
}

#button-17 {
	background-color: aquamarine;
}

@keyframes pulse {
  from {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  50% {
    transform: scale3d(4, 4, 4);
  }

  to {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

/* 18 */

#button-18 {
	background-color: #fff442;
}

#button-18:hover{
	animation-name: flash;
	animation-duration: 1s;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

/* 19 */

.boxes {
  	margin: 10px;
}

.box {
 	background: rgb(250, 171, 248);
  	border-radius: 5px;
  	display: inline-block;
  	height: 40px;
  	margin: 10px;
  	width: 40px;
 }
  
.container:activate .box {
  transform: scale(1.7);
}

.box1 {
  	transition: all 1.3s ease;
}

.box2 {
  	transition: all 1.3s 0.5s ease;
}

.box3 {
	transition: all 1.3s 1s ease;
}

#button-19 {
	background-color: rgba(183, 200, 251, 0.76);
}

/* 20 */

#jellohello:hover {
	animation-name: jello;
	animation-duration: 1s;
	animation-iteration-count: 2;
}

#jellohello {
	margin-left: 25%;
	margin-top: 10%;
	border-bottom: 100px solid rgba(199, 29, 29, 0.88);
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	height: 0;
	width: 100px;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

/* 21 */

#button-21:hover {
	animation-name: around;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes around {
  25%{
	background-color: #2553dd;
  }

  50% {
	background-color: #2ee9f4;
  }
	75% {
	background-color: #8263dd;
  }
	98% {
	background-color: #c54fba;
  }
}


/* 22 */

#button-22 {
	background-color: black;
}

#n22 {
	color: white;
	z-index: 10;
}

#invertswitch {
	height: 80px;
	width: 30px;
	background-color: white;
	margin-left: 45%;
	margin-top: 25px;
	margin-right: 45%;
}

.inverted {
	filter: invert(100%);
}


/* 23 */

#button-23 {
	background-color: #c3c3c5;
	overflow-x: hidden;
}

.fa-truck {
	color: #dbef8e;
	transform: translateX(260px);
}

.movetruck {
	animation-name: movetrucking;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: 2;
}

@keyframes movetrucking {
  from{
	 transform: translateX(260px);
  }
 	to{
	transform: translateX(-260px);
  }
}

/* 24 */

#button-24 {
	background-color:#3577eb;
}

.hinge {
  animation-name: hinge;
	animation-duration: 1.75s;
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}


/* 25 */

#button-25 {
	background-color:#f44836;
}

#button-25:hover {
	border-radius: 100%;
}

/* 27 */
